* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
    font-weight: 800;
	text-decoration: none;
	color: #fff;
}

header {
	background-color:#03989e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
}

header h2 {
	font-family: "Quicksand", sans-serif;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}


.hero {
	display: flex;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

